@keyframes fadeInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
}

@keyframes fadeinLeft {
  from { 
    opacity: 0; 
    -webkit-transform: translateX(-10px);
  }
  to { 
    opacity: 1;
    -webkit-transform: translateX(0); 
  }
}

@keyframes fadeinUp {
  from {
    opacity: 0;
    -webkit-transform: translateY((10px));
  } to {
    opacity: 1;
    -webkit-transform: translateY((0));
  }
}

@keyframes fadeIn {
  from {opacity:0}
  to {opacity: 0.3}
}