@import "./variables";

.header-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 1px;
  padding: $basePadding;
  color: white;
}

.header-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  font-family: "genath_light",serif;
  font-size: 3.3rem;
  line-height: 140%;
  color: rgb(216,209,186);
  user-select: none;

  p {
    margin: 0;
  }

  .title {
    -webkit-animation: fadeinLeft $titleAnimationTime; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeinLeft $titleAnimationTime; /* Firefox < 16 */
    -o-animation: fadeinLeft $titleAnimationTime; /* Opera < 12.1 */
    animation: fadeinLeft $titleAnimationTime ease forwards;
  }

  .text-carousel {
    position: relative;

    ul {
      position: absolute;
      width: 100%;
      list-style: none;
      border: 0;
      border-style: none;
      outline: 0;
      margin: 0;
      padding: 0;
    }

    li {
      opacity: 0;
      transform: translate3d(0,8%,0);
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }

    .active-text {
      opacity: 1;
      transform: translate3d(0,0,0);
    }
  }
}

.header-image {
  position: absolute;
  right: $basePadding;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: url('../misc/spaceneedle.png') right bottom no-repeat;
  background-size: 180px;
  opacity: 0.3;

  -webkit-animation: fadeIn $subAnimationTime ease forwards; 
  -moz-animation: fadeIn $subAnimationTime ease forwards; 
  -o-animation: fadeIn $subAnimationTime ease forwards; 
  animation: fadeIn $subAnimationTime ease forwards;
  animation-delay: $subAnimationDelay;
  opacity: 0;
}

@media (max-height: 767px) {
  .landing-image {
    background-size: 180px;
  }
}

@media (max-height: 650px) {
  .landing-image {
    background-size: 150px;
  }
}

@media (max-height: 520px) {
  .landing-image {
    background-size: 125px;
  }
}

@media (max-height: 480px) {
  .landing-image {
    background-size: 110px;
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 2.5rem;
  }
}

@media (max-width: 580px) {
  .header {
    font-size: 2.1rem;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 1.9rem;
  }
}


.test2 {
  min-height: 50vh;
  background-color: white;
}