$baseBackground: rgb(27,70,111);
$underlineColor: rgb(68,131,193);
$underlineHover: rgb(116, 165, 214);
$basePadding: 20px;

$titleAnimationTime: 1.2s;
$subAnimationDelay: 1.3s;
$subAnimationTime: 1.5s;

$carouselArrowSize: 12px;
$carouselBackground: #4e779e;