@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
}

@-webkit-keyframes fadeinLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeinLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes fadeinUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeinUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

.contact-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fadeinUp 1.5s ease forwards;
  animation: fadeinUp 1.5s ease forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  opacity: 0;
}

.contact-container p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  width: 60%;
}

.contact-container a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0 2rem 0 0;
  letter-spacing: 3px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: .8rem;
  padding-bottom: 10px;
}

.contact-container a::after {
  position: absolute;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4483c1;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.contact-container a:hover::after {
  background-color: #74a5d6;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
}

@keyframes fadeinLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fadeinUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

.landing-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 1px;
  padding: 20px;
  color: white;
}

.landing-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  font-family: "genath_light",serif;
  font-size: 3.3rem;
  line-height: 140%;
  color: #d8d1ba;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header p {
  margin: 0;
}

.header .title {
  -webkit-animation: fadeinLeft 1.2s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Opera < 12.1 */
  animation: fadeinLeft 1.2s ease forwards;
}

.header .text-carousel {
  position: relative;
}

.header .text-carousel ul {
  position: absolute;
  width: 100%;
  list-style: none;
  border: 0;
  border-style: none;
  outline: 0;
  margin: 0;
  padding: 0;
}

.header .text-carousel li {
  opacity: 0;
  -webkit-transform: translate3d(0, 8%, 0);
          transform: translate3d(0, 8%, 0);
  -webkit-transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.header .text-carousel .active-text {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.landing-image {
  position: absolute;
  right: 20px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: url("../misc/spaceneedle.png") right bottom no-repeat;
  background-size: 180px;
  opacity: 0.3;
  -webkit-animation: fadeIn 1.5s ease forwards;
  animation: fadeIn 1.5s ease forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  opacity: 0;
}

@media (max-height: 767px) {
  .landing-image {
    background-size: 180px;
  }
}

@media (max-height: 650px) {
  .landing-image {
    background-size: 150px;
  }
}

@media (max-height: 520px) {
  .landing-image {
    background-size: 125px;
  }
}

@media (max-height: 480px) {
  .landing-image {
    background-size: 110px;
  }
}

@media (max-width: 800px) {
  .header {
    font-size: 2.5rem;
  }
}

@media (max-width: 580px) {
  .header {
    font-size: 2.1rem;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 1.9rem;
  }
}

body {
  margin: 0;
  font-family: "maison_neue","Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b466f;
}
/*# sourceMappingURL=style.css.map */