@import "./_contact";
@import "./_animations";
@import "./variables";

@import "./landing";
@import "./carousel";
@import "./navbar";

@mixin flexDir($direction) {
  display: flex;
  flex-direction: $direction;
}

body {
  margin: 0;
  font-family: "maison_neue","Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $baseBackground;
}

