/* Variables done with $ 
$varName: stuff;
Import with @import "path"

@mixin name($varname) {
  Variables
  something: $varname
}

@include name($var);
*/

$baseBackground: rgb(27,70,111);
$underlineColor: rgb(68,131,193);
$underlineHover: rgb(116, 165, 214);
$basePadding: 20px;

@mixin flexDir($direction) {
  display: flex;
  flex-direction: $direction;
}

body {
  margin: 0;
  font-family: "maison_neue","Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $baseBackground;
}


.app {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: $basePadding;
  // background-image: url('https://lh6.googleusercontent.com/3z0v4gQ1SVYOrGc3wh-ndHwjQtZPDpcNDCoCeh21oeRA3lH1_ZfXpMxzRhTPVWVfPAFHMVeA6Q=w16383');
  // background-size: cover;
  // background-position: center center;
  color: white;
}

.app-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 50px;
  left: 00px;

  font-family: "genath_light",serif;
  font-size: 3rem;
  color: rgb(216,209,186);
}

.landing-image {
  position: absolute;
  right: $basePadding;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: url('../misc/spaceneedle3.png') right bottom no-repeat;
  background-size: 180px;
  opacity: 0.3;
}

.contact-container {
  position: absolute;
  bottom: $basePadding;
  left: 0;
  box-sizing: border-box;

  p {
    box-sizing: border-box;
    font-weight: 300;
    padding: 0 0 20px 0;
    width: 50%;
  }

  a {
    box-sizing: border-box;
    position: relative;
    margin: 0 2rem 0 0;
    letter-spacing: 3px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: .8rem;
    padding-bottom: 10px;
  }

  a::after {
    position: absolute;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $underlineColor;
    transition: background-color 0.2s ease-in-out;
  }

  a:hover::after {
    background-color: $underlineHover;
  }
}

@media (max-height: 767px) {
  .landing-image {
    background-size: 180px;
  }
}

@media (max-height: 650px) {
  .landing-image {
    background-size: 150px;
  }
}

@media (max-height: 520px) {
  .landing-image {
    background-size: 125px;
  }
}

@media (max-height: 480) {
  .landing-image {
    background-size: 110px;
  }
}