@keyframes fadeInPro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(10px);
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: "maison_neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1b466f;
}

.app {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  color: white;
}

.app-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: "genath_light", serif;
  font-size: 3rem;
  color: #d8d1ba;
}

.header p {
  margin: 0;
}

.header .title {
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

.header .description {
  width: 100%;
  /* -webkit-animation: fadein 2s;
  animation: fadein 3s; */
  -webkit-animation: fadeInPro 3s linear forwards;
  animation: fadeInPro 3.8s linear forwards;
  animation-delay: 1.3s;
  opacity: 0;
}

.header .description2 {
  width: 100%;
  /* -webkit-animation: fadein 2s;
  animation: fadein 5s; */
  -webkit-animation: fadeInPro 3s linear forwards;
  animation: fadeInPro 3s linear forwards;
  animation-delay: 1.7s;
  opacity: 0;
}

.landing-image {
  position: absolute;
  right: 20px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: url("../misc/spaceneedle3.png") right bottom no-repeat;
  background-size: 180px;
  opacity: 0.3;
}

.contact-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact-container p {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 300;
  width: 60%;
}

.contact-container a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 2rem 0 0;
  letter-spacing: 3px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 10px;
}

.contact-container a::after {
  position: absolute;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4483c1;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.contact-container a:hover::after {
  background-color: #74a5d6;
}

@media (max-height: 767px) {
  .landing-image {
    background-size: 180px;
  }
}

@media (max-height: 650px) {
  .landing-image {
    background-size: 150px;
  }
}

@media (max-height: 520px) {
  .landing-image {
    background-size: 125px;
  }
}

@media (max-height: 480) {
  .landing-image {
    background-size: 110px;
  }
}
/*# sourceMappingURL=style.css.map */
